/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

#buddypress {
     #psp-projects {
          background: transparent;
     }
     .pspbb-group-list {
          &__actions {
               display: flex;
               justify-content: flex-end;
               margin: 0 0 10px 0;
               padding: 0 0 10px 0;
          }
     }
}

#psp-projects {
     .psp-bb-project-groups {
          margin-top: 32px;
          .psp-bb-project-group {
               margin-bottom: 16px;
               a {
                    display: flex;
                    justify-content: space-between;
                    font-size: 16px;
                    font-weight: bold;
                    .psp-buddypress-group__name {
                         display: block;
                         margin-right: 16px;
                         line-height: 1.5;
                    }
                    .psp-buddypress-group__description {
                         font-size: 14px;
                         color: #666;
                         font-weight: normal;
                         display: block;
                    }
               }
          }
     }
}
